<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
  </head>
  <app-navbar></app-navbar>
  <body>
    <!--stars background start-->
    <div>
      <div class="stars-01"></div>
      <div class="stars-02"></div>
      <div class="stars-03"></div>
      <div class="stars-04"></div>
    </div>    <!--text start-->
    <div class="text">
      <span>VQ</span>
      <span>--</span>
      <span>TE</span>
      <span>AM</span>
      <span>!</span>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-6 text-center">
          <img src="../../../assets/img/Screen Shot 2021-01-16 at 20.32.19.png">
          <br> <br>
          <p><i>Tran Thuan Tuong Vy</i></p>
          <p><i>17110093</i></p>
          <p><i>tranthuantuongvy@gmail.com</i></p>
        </div>
        <div class="col-6 text-center">
          <img src="../../../assets/img/quang.png">
          <br> <br>
          <p><i>Tran Minh Quang</i></p>
          <p><i>17110067</i></p>
          <p><i>caesar.delta.cc@gmail.com</i></p>
        </div>
      </div>

    </div>
    <!--text end-->

  </body>
</html>
