<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
    </head>
    <body>
        <form action="" method="POST">
            <input type="text" name="vocabTitle">
            <input type="text" name="vocabTopic">
            <input type="text" name="vocabContent">
            <input type="text" name="vocabEx">
            <input type="submit" value="Add Vocabulary">
        </form>
    </body>
</html>