<!--Navbar-->

<header class="intro-header">
<mdb-navbar class="navbar navbar-expand-lg fixed-top navbar-dark" style="background-color: #292826;">

  <mdb-navbar-brand><a class="navbar-brand" href="#">Learning English</a></mdb-navbar-brand>

  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/homepage">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/grammar">Grammar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/vocabcate">Vocabulary</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/test">Test</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/about-us">About Us</a>
      </li>
    </ul>
    <div class="" >
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item" *ngIf="userDetails">
        <p class="u-profile">{{userDetails.fullName}}</p>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          <div class="btn-group" mdbDropdown>
            <mdb-icon fas icon="user" mdbDropdownToggle></mdb-icon>
            <div class="dropdown-menu dropdown-menu-right dropdown-primary">
              <a class="dropdown-item" routerLink="/userprofile">User Profile</a>
              <div class="divider dropdown-divider"></div>
              <a class="dropdown-item" (click)="onLogout()">Logout</a>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
  </links>

</mdb-navbar>
</header>
<!--/.Navbar-->



