<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <style>
            input{
                display: block;
                clear: both;
                margin: 10px;
            }
        </style>
    </head>
    <body>
        <form action="" method="POST">
            <input type="text" name="txtCate">
            <input type="submit" value="Add">
        </form>
    </body>
</html>