<app-navbar></app-navbar>
<br>
<main class="text-center py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <div class="row">
            <div class="col-md-12 ">
              <h3>ENGLISH ABJECTIVES</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 ">
              <h2>COMMON ADJECTIVES TABLE</h2>
            </div>
          </div>
          <div class="row">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">Shape</th>
                  <th scope="col">Size</th>
                  <th scope="col">Sound</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>broad
                    <br>
                    crooked <br>curved <br>deep <br>even <br>flat <br>hilly <br>jagged <br>round <br>shallow <br>square
                    <br>steep <br>straight <br>thick <br>thin <br>triangular <br>uneven
                  </td>
                  <td>average
                    <br>big
                    <br>fat
                    <br>gigantic
                    <br>huge
                    <br>large
                    <br>little
                    <br>long
                    <br>massive
                    <br>medium
                    <br>miniature
                    <br>narrow
                    <br>petite
                    <br>short
                    <br>skinny
                    <br>small
                    <br>tall
                    <br>tiny
                    <br>wide
                  </td>
                  <td>cooing
                    <br>deafening
                    <br>faint
                    <br>harsh
                    <br>high-pitched
                    <br>hissing
                    <br>hushed
                    <br>husky
                    <br>loud
                    <br>melodic
                    <br>moaning
                    <br>mute
                    <br>noisy
                    <br>purring
                    <br>quiet
                    <br>raspy
                    <br>screeching
                    <br>shrill
                    <br>silent
                    <br>soft
                    <br>squeaky
                    <br>squealing
                    <br>thundering
                    <br>voiceless
                    <br>whispering
                  </td>

                </tr>
              </tbody>
            </table>
          </div>




      </div>
    </div>
  </div>

</main>
<app-foot></app-foot>
