
<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  </head>
  <!------ Include the above in your HEAD tag ---------->
  <app-navbar></app-navbar>
  <body>
  <main class="text py-5">
  <div class="container emp-profile">
              <form method="post">
                  <div class="row">
                      <div class="col-md-4">
                          <div class="profile-img">
                              <img src="../../assets/img/blank-profile-picture.png" alt=""/>
                              <div class="file btn btn-lg btn-primary">
                                  Change Photo
                                  <input type="file" name="file"/>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-6" *ngIf="userDetails">
                          <div class="profile-head">
                                      <h2>
                                          {{userDetails.fullName}}
                                      </h2>
                                      <h4>
                                          {{userDetails.email}}
                                      </h4>
                              <ul class="nav nav-tabs" id="myTab" role="tablist">
                                  <li class="nav-item">
                                      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                                  </li>
                                  <li class="nav-item">
                                      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">List Learned</a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                      <div class="col-md-2">
                          <!-- <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/> -->
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-4">
                          <div class="profile-work">
                              <p>GO BACK</p>
                              <a routerLink="/homepage">Home</a><br/>
                              <a routerLink="/listgrammar">Grammar</a><br/>
                              <a href="">Vocabulary</a><br/>
                              <a href="">Test</a><br/>
                              <p>Lesson</p>
                              <a href=""></a><br/>

                          </div>
                      </div>
                      <div class="col-md-8">
                          <div class="tab-content profile-tab" id="myTabContent">
                              <div *ngIf="userDetails" class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                                          <div class="row">
                                              <div class="col-md-6">
                                                  <label>First Name</label>
                                              </div>
                                              <div class="col-md-6">
                                                  <p>{{userDetails.fullName.split(' ')[0]}}</p>
                                              </div>
                                          </div>
                                          <div class="row">
                                            <div class="col-md-6">
                                                <label>Last Name</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{userDetails.fullName.split(' ')[1]}}</p>
                                            </div>
                                        </div>
                                          <div class="row">
                                              <div class="col-md-6">
                                                  <label>Email</label>
                                              </div>
                                              <div class="col-md-6">
                                                  <p>{{userDetails.email}}</p>
                                              </div>
                                          </div>
                              </div>
                              <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                          <div class="row">
                                              <div class="col-md-6">
                                                  <label>Test: </label>
                                              </div>
                                              <div class="col-md-6">
                                                  <p>Test 1</p>
                                                  <br> <p>Test Abjectives</p>
                                              </div>
                                          </div>
                                          <div class="row">
                                              <div class="col-md-6">
                                                  <label>Vocabulary Learned</label>
                                              </div>
                                              <div class="col-md-6">
                                                  <p>shoes</p>
                                                  <br> <p>hats</p>
                                              </div>
                                          </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </form>
            </div>

          </main>
  </body>
