<app-navbar></app-navbar>
<app-head></app-head>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <br>
        <ul class="list-group" *ngFor="let cate of cates" >
          <a [routerLink]="['/grammar',cate._id]" class="list-group-item d-flex justify-content-between align-items-center" routerLinkActive="is-active">
            {{cate.title}}
          </a>

        </ul>
      </div>
        <div class="col-lg-9" id="example" >
          <div class="container" *ngFor="let lesson of lessons">
            <div class="row">
              <div class="col-md-12">

                  <div class="row">
                    <div class="col-md-12 ">
                      <h1>{{lesson.name}}</h1>
                    </div>
                  </div>
                  <div class="row">
                    <p>{{lesson.content}}</p>
                    <br>
                  </div>
                  <div class="row">
                    <p><b>For Example:</b></p>
                  </div>
                  <div class="row">
                    <p>{{lesson.example}}</p>
                  </div>
              </div>
            </div>
          </div>

        </div>
    </div>
  </div>
