<app-navbar></app-navbar>
<!-- <div class="qc"> -->
  <!-- <img src="../../../../assets/img/list.jpeg"> -->
<!-- </div> -->
<!--Main Layout-->
<app-head></app-head>
<body>
<main class="text py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <div class="row">
            <div class="col-md-12 ">
              <h3></h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 ">
              <h4></h4>
            </div>
          </div>
          <div class="row">
            <p>Grammar is the mortar that holds the bricks of vocabulary together. Without good mortar bricks can come tumbling down and that can cause embarrassing misunderstandings. There is a common impression that learning English grammar is painful, but it is a lot easier than many other languages. Of course, English is more than just memorizing grammar rules, the grammar must be incorporated into your everyday use of the language. Theory and practice should always go hand in hand. Grammar matters.</p>
          </div>
          <div class="row">
            <p>That said, here on the Learn English Network, we believe that when you begin to learn English, speaking and building up your vocabulary is more important than worrying about correct grammar. Then, as you progress, you will incorporate more grammar into your learning programme.</p>
          </div>
          <div class="row">
            <p>At an advanced level you might want to think more about the correct use of the English language and study grammar in more depth.</p>
          </div>
          <div class="row">
            <div class="col-md-12 ">
              <h5>Grammar Lesson</h5>
            </div>
          </div>
          <div class="row">
            <a routerLink="/abjectives" class="text-blue">ABJECTIVES</a>
          </div>
          <div class="row">
            <a routerLink="/listgrammar" class="text-blue">ABVREBS</a>
          </div>
          <div class="row">
            <a routerLink="" class="text-blue">VERBS</a>
          </div>
          <div class="row">
            <a routerLink="" class="text-blue">CLAUSES</a>
          </div>
          <div class="row">
            <a routerLink="" class="text-blue">CONDITIONALS</a>
          </div>
          <div class="row">
            <a routerLink="" class="text-blue">GERUND & INFINITIVES</a>
          </div>

      </div>
    </div>
  </div>

</main>
</body>

<!--Main Layout-->
