<app-navbar></app-navbar>
<body>
  <main class="text py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <!--vocabulary cate-->
          <br>
          <ul class="list-group" >
            <a  class="list-group-item d-flex justify-content-between align-items-center" routerLinkActive="is-active">
              Test 1
            </a>
            <a  class="list-group-item d-flex justify-content-between align-items-center" routerLinkActive="is-active">
              Test 2
            </a>
          </ul>
        </div>
          <div class="col-lg-9" id="example">

                <mdb-carousel class="" >
                  <mdb-carousel-item>
                    <div class="container-fluid ">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                              <h3><span class="label label-warning" id="qid">Test 1 - Question 1</span> The weather.........for tomorrow is partly cloudy with a chance of slight rain</h3>
                          </div>
                          <div class="modal-body">
                              <!-- <div class="col-xs-3 col-xs-offset-5">
                                <div id="loadbar" style="display: none;">
                                    <div class="blockG" id="rotateG_01"></div>
                                    <div class="blockG" id="rotateG_02"></div>
                                    <div class="blockG" id="rotateG_03"></div>
                                    <div class="blockG" id="rotateG_04"></div>
                                    <div class="blockG" id="rotateG_05"></div>
                                    <div class="blockG" id="rotateG_06"></div>
                                    <div class="blockG" id="rotateG_07"></div>
                                    <div class="blockG" id="rotateG_08"></div>
                                </div>
                            </div> -->

                            <div class="quiz" id="quiz" data-toggle="buttons">
                            <label class="element-animation1 btn btn-lg btn-info btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="1"> forecasts</label>
                            <label class="element-animation2 btn btn-lg btn-info btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="2"> forecasted</label>
                            <label class="element-animation3 btn btn-lg btn-info btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="3"> forecast</label>
                            <label class="element-animation4 btn btn-lg btn-info btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="4"> the forecast</label>
                        </div>
                    </div>
                    <div class="modal-footer text-muted">
                      <span id="answer"></span>
                  </div>
                  </div>
                  </div>
                  </div>
                  </mdb-carousel-item>
                  <mdb-carousel-item>
                    <div class="container-fluid ">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                              <h3><span class="label label-warning" id="qid">Test 1 - Question 2</span> The new managing director..............a more effective management structure</h3>
                          </div>
                          <div class="modal-body">
                              <div class="col-xs-3 col-xs-offset-5">
                                <!-- <div id="loadbar" style="display: none;">
                                    <div class="blockG" id="rotateG_01"></div>
                                    <div class="blockG" id="rotateG_02"></div>
                                    <div class="blockG" id="rotateG_03"></div>
                                    <div class="blockG" id="rotateG_04"></div>
                                    <div class="blockG" id="rotateG_05"></div>
                                    <div class="blockG" id="rotateG_06"></div>
                                    <div class="blockG" id="rotateG_07"></div>
                                    <div class="blockG" id="rotateG_08"></div>
                                </div> -->
                            </div>

                            <div class="quiz" id="quiz" data-toggle="buttons">
                            <label class="element-animation1 btn btn-lg btn-info btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="1"> propose</label>
                            <label class="element-animation2 btn btn-lg btn-info btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="2"> proposed</label>
                            <label class="element-animation3 btn btn-lg btn-info btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="3"> proposal</label>
                            <label class="element-animation4 btn btn-lg btn-info btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="4"> the proposal</label>
                        </div>
                    </div>
                    <div class="modal-footer text-muted">
                      <span id="answer"></span>
                  </div>
                  </div>
                  </div>
                  </div>
                  </mdb-carousel-item>
                  <mdb-carousel-item>
                    <div class="container-fluid ">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                              <h3><span class="label label-warning" id="qid">Test 1 - Question 3</span> Mr. Radford, the plant manager, recently............a tour of the production plant for visitors from Japan</h3>
                          </div>
                          <div class="modal-body">
                              <div class="col-xs-3 col-xs-offset-5">
                                <!-- <div id="loadbar" style="display: none;">
                                    <div class="blockG" id="rotateG_01"></div>
                                    <div class="blockG" id="rotateG_02"></div>
                                    <div class="blockG" id="rotateG_03"></div>
                                    <div class="blockG" id="rotateG_04"></div>
                                    <div class="blockG" id="rotateG_05"></div>
                                    <div class="blockG" id="rotateG_06"></div>
                                    <div class="blockG" id="rotateG_07"></div>
                                    <div class="blockG" id="rotateG_08"></div>
                                </div> -->
                            </div>

                            <div class="quiz" id="quiz" data-toggle="buttons">
                            <label class="element-animation1 btn btn-lg btn-info btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="1"> conduct</label>
                            <label class="element-animation2 btn btn-lg btn-info btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="2"> conducted</label>
                            <label class="element-animation3 btn btn-lg btn-info btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="3"> for conduct</label>
                            <label class="element-animation4 btn btn-lg btn-info btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="4"> to conduct</label>
                        </div>
                    </div>
                    <div class="modal-footer text-muted">
                      <span id="answer"></span>
                  </div>
                  </div>
                  </div>
                  </div>
                  </mdb-carousel-item>
                  <mdb-carousel-item>
                    <div class="container-fluid ">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                              <h3><span class="label label-warning" id="qid">Test 1 - Question 4</span> The monthly business meeting which is hosted by the president......an important role in exchanging ideas</h3>
                          </div>
                          <div class="modal-body">
                              <!-- <div class="col-xs-3 col-xs-offset-5">
                                <div id="loadbar" style="display: none;">
                                    <div class="blockG" id="rotateG_01"></div>
                                    <div class="blockG" id="rotateG_02"></div>
                                    <div class="blockG" id="rotateG_03"></div>
                                    <div class="blockG" id="rotateG_04"></div>
                                    <div class="blockG" id="rotateG_05"></div>
                                    <div class="blockG" id="rotateG_06"></div>
                                    <div class="blockG" id="rotateG_07"></div>
                                    <div class="blockG" id="rotateG_08"></div>
                                </div>
                            </div> -->

                            <div class="quiz" id="quiz" data-toggle="buttons">
                            <label class="element-animation1 btn btn-lg btn-info btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="1"> play</label>
                            <label class="element-animation2 btn btn-lg btn-info btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="2"> plays</label>
                            <label class="element-animation3 btn btn-lg btn-info btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="3"> playing</label>
                            <label class="element-animation4 btn btn-lg btn-info btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="4"> playes</label>
                        </div>
                    </div>
                    <div class="modal-footer text-muted">
                      <span id="answer"></span>
                  </div>
                  </div>
                  </div>
                  </div>
                  </mdb-carousel-item>
                  <mdb-carousel-item>
                    <div class="container-fluid ">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                              <h3><span class="label label-warning" id="qid">Test 1 - Question 5</span> All requests for office supplies should be................to Mr. Park by noon</h3>
                          </div>
                          <div class="modal-body">
                              <div class="col-xs-3 col-xs-offset-5">
                                <!-- <div id="loadbar" style="display: none;">
                                    <div class="blockG" id="rotateG_01"></div>
                                    <div class="blockG" id="rotateG_02"></div>
                                    <div class="blockG" id="rotateG_03"></div>
                                    <div class="blockG" id="rotateG_04"></div>
                                    <div class="blockG" id="rotateG_05"></div>
                                    <div class="blockG" id="rotateG_06"></div>
                                    <div class="blockG" id="rotateG_07"></div>
                                    <div class="blockG" id="rotateG_08"></div>
                                </div> -->
                            </div>

                            <div class="quiz" id="quiz" data-toggle="buttons">
                            <label class="element-animation1 btn btn-lg btn-info btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="1"> submitting</label>
                            <label class="element-animation2 btn btn-lg btn-info btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="2"> submit</label>
                            <label class="element-animation3 btn btn-lg btn-info btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="3"> submitted</label>
                            <label class="element-animation4 btn btn-lg btn-info btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="4"> the submitted</label>
                        </div>
                    </div>
                    <div class="modal-footer text-muted">
                      <span id="answer"></span>
                  </div>
                  </div>
                  </div>
                  </div>
                  </mdb-carousel-item>
                  <mdb-carousel-item>
                    <div class="container-fluid ">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                              <h3><span class="label label-warning" id="qid">Test 1 - Question 6</span> Though many restaurants in the area offer an extensive dinner menu, the quality of service...........considerably.</h3>
                          </div>
                          <div class="modal-body">
                              <div class="col-xs-3 col-xs-offset-5">
                                <!-- <div id="loadbar" style="display: none;">
                                    <div class="blockG" id="rotateG_01"></div>
                                    <div class="blockG" id="rotateG_02"></div>
                                    <div class="blockG" id="rotateG_03"></div>
                                    <div class="blockG" id="rotateG_04"></div>
                                    <div class="blockG" id="rotateG_05"></div>
                                    <div class="blockG" id="rotateG_06"></div>
                                    <div class="blockG" id="rotateG_07"></div>
                                    <div class="blockG" id="rotateG_08"></div>
                                </div> -->
                            </div>

                            <div class="quiz" id="quiz" data-toggle="buttons">
                            <label class="element-animation1 btn btn-lg btn-info btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="1"> varies</label>
                            <label class="element-animation2 btn btn-lg btn-info btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="2"> vary</label>
                            <label class="element-animation3 btn btn-lg btn-info btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="3"> various</label>
                            <label class="element-animation4 btn btn-lg btn-info btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="4"> the various</label>
                        </div>
                    </div>
                    <div class="modal-footer text-muted">
                      <span id="answer"></span>
                  </div>
                  </div>
                  </div>
                  </div>
                  </mdb-carousel-item>
                  <mdb-carousel-item>
                    <div class="container-fluid ">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                              <h3><span class="label label-warning" id="qid">Test 1 - Question 7</span> To attract customers, discounted items should..............at the front of the store.</h3>
                          </div>
                          <div class="modal-body">
                              <div class="col-xs-3 col-xs-offset-5">
                                <!-- <div id="loadbar" style="display: none;">
                                    <div class="blockG" id="rotateG_01"></div>
                                    <div class="blockG" id="rotateG_02"></div>
                                    <div class="blockG" id="rotateG_03"></div>
                                    <div class="blockG" id="rotateG_04"></div>
                                    <div class="blockG" id="rotateG_05"></div>
                                    <div class="blockG" id="rotateG_06"></div>
                                    <div class="blockG" id="rotateG_07"></div>
                                    <div class="blockG" id="rotateG_08"></div>
                                </div> -->
                            </div>

                            <div class="quiz" id="quiz" data-toggle="buttons">
                            <label class="element-animation1 btn btn-lg btn-info btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="1"> have displayed</label>
                            <label class="element-animation2 btn btn-lg btn-info btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="2"> displays</label>
                            <label class="element-animation3 btn btn-lg btn-info btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="3"> be displayed</label>
                            <label class="element-animation4 btn btn-lg btn-info btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="4"> displayed</label>
                        </div>
                    </div>
                    <div class="modal-footer text-muted">
                      <span id="answer"></span>
                  </div>
                  </div>
                  </div>
                  </div>
                  </mdb-carousel-item>
                  <mdb-carousel-item>
                    <div class="container-fluid ">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                              <h3><span class="label label-warning" id="qid">Test 1 - Question 8</span> The company announces that it plans to...............several properties to expand its business</h3>
                          </div>
                          <div class="modal-body">
                              <div class="col-xs-3 col-xs-offset-5">
                                <!-- <div id="loadbar" style="display: none;">
                                    <div class="blockG" id="rotateG_01"></div>
                                    <div class="blockG" id="rotateG_02"></div>
                                    <div class="blockG" id="rotateG_03"></div>
                                    <div class="blockG" id="rotateG_04"></div>
                                    <div class="blockG" id="rotateG_05"></div>
                                    <div class="blockG" id="rotateG_06"></div>
                                    <div class="blockG" id="rotateG_07"></div>
                                    <div class="blockG" id="rotateG_08"></div>
                                </div> -->
                            </div>

                            <div class="quiz" id="quiz" data-toggle="buttons">
                            <label class="element-animation1 btn btn-lg btn-info btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="1"> aquire</label>
                            <label class="element-animation2 btn btn-lg btn-info btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="2"> acquired</label>
                            <label class="element-animation3 btn btn-lg btn-info btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="3"> acquiring</label>
                            <label class="element-animation4 btn btn-lg btn-info btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="4"> the acquired</label>
                        </div>
                    </div>
                    <div class="modal-footer text-muted">
                      <span id="answer"> <a class="m-0 float-right btn btn-info btn-lg" href="javascript:void(0);" data-toggle="modal" data-target="#ScoreModal" >Submit</a></span>
                  </div>
                  </div>
                  </div>
                  </div>
                  </mdb-carousel-item>
                </mdb-carousel>

          </div>
      </div>
      <div class="modal fade" id="ScoreModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelScore"
            aria-hidden="true" >
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabelScore">Your Score</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <h2>True Answer: 5</h2>
                  <h2>False Answer: 3</h2>
                  <h2 style="color: brown;">Total score = 6.25</h2>
                  <!-- <input #CateTitleInput type="text" class="form-control" placeholder="Enter lesson..." aria-label="GrammarLesson" aria-describedby="basic-addon1"> -->
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-info" data-dismiss="modal" >Cancel</button>
                  <!-- <a class="btn btn-primary" ></a> -->
                </div>
              </div>
            </div>
          </div>
    </div>
  </main>
</body>
<!-- <script>
  $(function(){
    var loading = $('#loadbar').hide();
    $(document)
    .ajaxStart(function () {
        loading.show();
    }).ajaxStop(function () {
    	loading.hide();
    });

    $("label.btn").on('click',function () {
    	var choice = $(this).find('input:radio').val();
    	$('#loadbar').show();
    	$('#quiz').fadeOut();
    	setTimeout(function(){
           $( "#answer" ).html(  $(this).checking(choice) );
            $('#quiz').show();
            $('#loadbar').fadeOut();
           /* something else */
    	}, 1500);
    });

    $ans = 3;

    $.fn.checking = function(ck) {
        if (ck != $ans)
            return 'INCORRECT';
        else
            return 'CORRECT';
    };
});
</script> -->
